<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lll.learn">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".AsyncListUtilActivity" />
        <activity android:name=".DrawerLayoutActivity" />
        <activity android:name=".LinearLayoutManagerActivity" />
        <activity android:name=".StaggeredGridLayoutManagerActivity" />
        <activity android:name=".GridLayoutManagerActivity" />
        <activity android:name=".v4.NestedScrollActivity" />
        <activity
            android:name=".v4.DrawableCompatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".v4.NestedScroll2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".md.StatylePicActivity"
            android:label="@string/title_activity_statyle_pic"
            android:theme="@style/AppTheme" />
        <activity android:name=".md.MDLearnActivity" />
        <activity
            android:name=".md.TestStatus2Activity"
            android:label="@string/title_activity_test_status2"
            android:theme="@style/AppTheme" />
        <activity android:name=".md.ImageStatusActivity" />
        <activity android:name=".v7.ToolBarLearnActivity" />
        <activity android:name=".v7.V7LearnActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>