<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lll.learn"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".AsyncListUtilActivity"/>
        <activity android:name=".DrawerLayoutActivity"/>
        <activity android:name=".LinearLayoutManagerActivity">
        </activity>
        <activity android:name=".StaggeredGridLayoutManagerActivity"/>
        <activity android:name=".GridLayoutManagerActivity"/>
        <activity android:name=".v4.NestedScrollActivity">
        </activity>
        <activity android:name=".v4.DrawableCompatActivity">
        </activity>
    </application>

</manifest>