<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tima.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lll.core.base.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.lll.core.activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lll.core.activity.LoginActivity" />
        <activity android:name="com.lll.core.learn.AnimatedRecyclerView" />
        <activity android:name="com.lll.core.activity.MainActivity" />
        <activity android:name="com.lll.core.activity.BitmapLoaderActivity" />
        <activity android:name="com.lll.core.activity.BannerActivity" />
        <activity android:name="com.lll.core.activity.viewpager.ViewPagerLearnActivity" />
        <activity
            android:name="com.lll.core.activity.PublicWebViewActivity"
            android:exported="true"
            android:process=":web" />
        <activity
            android:name="com.lll.core.activity.test.AnimationTestActivity"
            android:label="@string/title_activity_animation_test" />
        <activity android:name="com.lll.core.activity.test.CustomViewActivity" />
        <activity android:name="com.lll.core.activity.test.ProgressViewActivity" />
        <activity android:name="com.lll.core.activity.test.WindowActivity" />
        <activity android:name="com.lll.core.activity.test.FrameworkLearnActivity"
            android:theme="@style/ThemeBaseLight"/>
    </application>

</manifest>